@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.wrapper h3{
    margin-bottom: 20px;
}

header{
    background-color: rgb(17, 96, 98);
    min-height: 55px;
    max-height: 55px;
    min-width: 100%;
    position: fixed;
}

.button_header{
    margin-right: 20px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button_header a{
    border: none;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.button_header a:hover{
    color: rgb(150, 150, 150);
    cursor: pointer;
}

#name_user{
    padding-right: 15px;
    background-color: rgb(17, 96, 98);
    color: rgb(255 255 255);
    font-size: 20px;
    font-weight: bold;
}
#name_user:hover{
    color: rgb(199, 199, 199);
}
#name_user:active{
    color: rgb(147, 147, 147);
}

.main-container{
    display: flex;
    flex-direction: column;
    min-width: 94%;
    min-height: 92vh;
    margin-top: 55px;
    margin-left: 70px;
    padding: 20px;
    transition: margin-left 0.25s ease-in-out;
    background-color: rgb(255, 255, 255);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Граница таблицы */
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Границы ячеек */
}
tr:hover {
    background-color: #f1f1f1;
}
th {
    background-color: #f2f2f2;
}
form {
    display: inline;
}
button {
    padding: 5px 10px;
    background-color: rgb(17, 96, 98);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(51, 117, 54) 96, 98);
}

.btn_del{
    padding: 5px 10px;
    background-color: rgb(185, 59, 32);
    color: white;
    border: none;
    cursor: pointer;
}

.tables-container {
    display: flex;
    justify-content: space-between;
}
.table-wrapper {
    width: 48%;
}
